<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ClassWebServiceSoap" />
        <binding name="CourseWebServiceSoap" />
        <binding name="StudWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49866/ClassWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ClassWebServiceSoap"
        contract="ClassServiceReference.ClassWebServiceSoap" name="ClassWebServiceSoap" />
      <endpoint address="http://localhost:49866/CourseWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CourseWebServiceSoap"
        contract="CourseServiceReference.CourseWebServiceSoap" name="CourseWebServiceSoap" />
      <endpoint address="http://localhost:49866/StudWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="StudWebServiceSoap"
        contract="StudServiceReference.StudWebServiceSoap" name="StudWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>